/Mirror/Mirror.Core/Mirror.Core.nuget.props
/Mirror/Mirror.Extensions/Mirror.Extensions.nuget.props
/Mirror/Mirror.Speech/Mirror.Speech.nuget.props
/Mirror/Configuration.reswdebut.log
/mirror/configuration.resw
./mirror/configuration.resw
./Mirror/Mirror/configuration.resw
./Mirror/Mirror/Configuration.resw
